{block #title}{_products.frontend.shop.error.title}{/block}

{block #content}
<div class="row">
    <div class="col-xs-12">
        <p><strong>Chyba:</strong> bohužiaľ, platba nebola úspešná. Prosím, vyskúšajte to znova alebo nám pri opakovanom probléme napíšte na <a href="mailto:info@dennikn.sk">info@dennikn.sk</a>.</p>
    </div>
</div>
