{block #title}{_products.frontend.shop.not_settled.title}: {$shopTitle}{/block}

{block #content}

<div class="page-header">
    <h1>{_products.frontend.shop.not_settled.title}</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>{_products.frontend.shop.not_settled.message}</p>
    </div>
</div>
