{block #title}{_products.frontend.shop.show.title, ["product_name" => $product->name]}{/block}

{block #head}
    <meta content="sk_SK" property="og:locale">
    <meta content="{$title}" property="og:site_name">
    <meta content="{$product->name}" property="og:title">
    <meta content="{$product->og_image_url}" property="og:image">
    <meta content="{plink //Shop:show $product->id, $product->code}" property="og:url">

    {control simpleWidget 'products.shop.show.head', $product}
{/block}

{block #scripts}
    <script>
        $.event.trigger('crm:shop:show:product');
    </script>
    <script src="{$basePath}/layouts/default/js/lightbox/js/lightbox.min.js"></script>
    <script>
        lightbox.option({
            'showImageNumberLabel': false,
            'wrapAround': true,
            'disableScrolling': true,
        })
    </script>
{/block}

{block #content}

{control simpleWidget 'products.shop.show.title', $cartProducts}

<h1>{$product->name}</h1>
<div class="row product-detail">
    <div class="col-xs-12 col-sm-7">
        <div class="product-image">
            <img n:ifset="$product->image_url" src="{$product->image_url}" alt="{$product->name}" class="img-responsive">
            <div class="image-tags" n:inner-foreach="$product->related('product_tags') as $productTag">
                <a n:href="tag $productTag->tag->code">
                    {if $productTag->tag->icon == 'dennikn'}
                        <div class="image-tag" n:if="$productTag->tag->visible"><img src="{$basePath}/layouts/dennikn/images/shop/n.svg"> {$productTag->tag->name}</div>
                    {else}
                        <div class="image-tag" n:if="$productTag->tag->visible"><i class="fa {$productTag->tag->icon}"></i> {$productTag->tag->name}</div>
                    {/if}
                </a>
            </div>
        </div>
        <div n:if="!empty($product->images)" class="product-gallery">
            {var $gallery = preg_split('/[\r\n\s]+/', $product->images, -1, PREG_SPLIT_NO_EMPTY)}
            <a n:foreach="$gallery as $image" href="{$image}" data-lightbox="image-gallery" data-title="{$product->name}"><img src="{$image}" /></a>
        </div>
        <div n:if="$product->stock > 0" class="price-row">
            <table>
                <tr>
                    <td>
                        <span class="price">
                            <span class="catalog-price" n:if="$product->catalog_price != $product->price">{$product->catalog_price|price}</span>
                            {$product->price|price}
                        </span>
                    </td>
                    <td>
                        <a n:href="addCart! $product->id" class="btn add-cart" data-ajax-off="unique" role="button"><i class="fa fa-shopping-cart"></i> {_products.frontend.shop.show.add_to_cart}</a>
                    </td>
                </tr>
            </table>
        </div>
        <div n:if="$product->stock <= 0" class="price-row out-of-stock">
            <a n:href="Show $product->id, $product->code" class="btn">{_products.frontend.shop.show.sold_out}</a>
        </div>
        <ul>
            <li n:foreach="$product->related('product_properties') as $property" n:if="!empty($property->value) && $property->product_template_property->visible"><span>{$property->product_template_property->title}:</span>
                {if $property->product_template_property->type === 'date'}
                    {$property->value|localizedDate:true,false}
                {else}
                    {$property->value}
                {/if}
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-5" id="description-block">
        {control simpleWidget 'products.shop.show.description.top', $product}

        <p>{nl2br($product->description)|noescape}</p>

        {control simpleWidget 'products.shop.show.description.bottom', $product}
    </div>
</div>

{control simpleWidget 'products.shop.show.bottom', $product}
