{block scripts}
  <script type="text/javascript"
          src="{$basePath}/layouts/admin/js/jquery-tablesorter/jquery.tablesorter.combined.2.31.3.min.js"></script>
  <link rel="stylesheet"
        href="{$basePath}/layouts/admin/js/jquery-tablesorter/jquery.tablesorter.theme.bootstrap.2.31.3.min.css">
  <script>
      $(document).ready(function () {
          $(".tablesorter").tablesorter({
              ignoreCase: true,
              sortInitialOrder: 'desc',
              theme: 'bootstrap',
              headerTemplate: '{l}content{r} {l}icon{r}',
              widgets: ['uitheme', 'output'],
              widgetOptions : {
                 output_dataAttrib: 'data-text'
              }
          });
      });
  </script>
{/block}

<style>
  td.numeric {
    text-align: right;
  }
</style>

{capture $totals}
  <tr class="tablesorter-ignoreRow">
    <td>{_products.admin.products.stats.total}</td>
    <td class="numeric">{$totalStats['today']['count']}</td>
    <td class="numeric">{$totalStats['today']['amount']|price}</td>
    <td class="numeric">{$totalStats['yesterday']['count']}</td>
    <td class="numeric">{$totalStats['yesterday']['amount']|price}</td>
    <td class="numeric">{$totalStats['last_7days']['count']}</td>
    <td class="numeric">{$totalStats['last_7days']['amount']|price}</td>
    <td class="numeric">{$totalStats['current_month']['count']}</td>
    <td class="numeric">{$totalStats['current_month']['amount']|price}</td>
    <td class="numeric">{$totalStats['last_month']['count']}</td>
    <td class="numeric">{$totalStats['last_month']['amount']|price}</td>
    <td class="numeric">{$totalStats['all']['count']}</td>
    <td class="numeric">{$totalStats['all']['amount']|price}</td>
  </tr>
{/capture}

<table class="table table-striped table-bordered tablesorter">
  <thead>
  <tr>
    <th rowspan="2">{_products.admin.products.stats.product}</th>
    <th class="sorter-false" colspan="2">{_products.admin.products.stats.today}</th>
    <th class="sorter-false" colspan="2">{_products.admin.products.stats.yesterday}</th>
    <th class="sorter-false" colspan="2">{_products.admin.products.stats.seven_days}</th>
    <th class="sorter-false" colspan="2">{_products.admin.products.stats.this_month}</th>
    <th class="sorter-false" colspan="2">{_products.admin.products.stats.last_month}</th>
    <th class="sorter-false" colspan="2">{_products.admin.products.stats.all_stats}</th>
  </tr>
  <tr>
    <th>{_products.admin.products.stats.count}</th>
    <th>{_products.admin.products.stats.amount}</th>
    <th>{_products.admin.products.stats.count}</th>
    <th>{_products.admin.products.stats.amount}</th>
    <th>{_products.admin.products.stats.count}</th>
    <th>{_products.admin.products.stats.amount}</th>
    <th>{_products.admin.products.stats.count}</th>
    <th>{_products.admin.products.stats.amount}</th>
    <th>{_products.admin.products.stats.count}</th>
    <th>{_products.admin.products.stats.amount}</th>
    <th>{_products.admin.products.stats.count}</th>
    <th>{_products.admin.products.stats.amount}</th>
  </tr>
  {$totals}
  </thead>
  <tbody>
  <tr n:foreach="$productStats as $product">
    <td><a href="{plink :Products:ProductsAdmin:show $product['id']}">{$product['name']}</a></td>

    <td class="numeric">{$product['count']['today'] ?? 0}</td>
    {var $price = $product['amount']['today'] ?? 0}
    <td class="numeric" data-text="{$price}">{$price|price}</td>

    <td class="numeric">{$product['count']['yesterday'] ?? 0}</td>
    {var $price = $product['amount']['yesterday'] ?? 0}
    <td class="numeric" data-text="{$price}">{$price|price}</td>

    <td class="numeric">{$product['count']['last_7days'] ?? 0}</td>
    {var $price = $product['amount']['last_7days'] ?? 0}
    <td class="numeric" data-text="{$price}">{$price|price}</td>

    <td class="numeric">{$product['count']['current_month'] ?? 0}</td>
    {var $price = $product['amount']['current_month'] ?? 0}
    <td class="numeric" data-text="{$price}">{$price|price}</td>

    <td class="numeric">{$product['count']['last_month'] ?? 0}</td>
    {var $price = $product['amount']['last_month'] ?? 0}
    <td class="numeric" data-text="{$price}">{$price|price}</td>

    <td class="numeric">{$product['count']['all'] ?? 0}</td>
    {var $price = $product['amount']['all'] ?? 0}
    <td class="numeric" data-text="{$price}">{$price|price}</td>
  </tr>
  </tbody>
  <tfoot>
  {$totals}
  </tfoot>
</table>
