{block scripts}
    <script type="text/javascript" src="{$basePath}/layouts/admin/js/jquery-tablesorter/jquery.tablesorter.combined.2.31.3.min.js"></script>
    <link rel="stylesheet" href="{$basePath}/layouts/admin/js/jquery-tablesorter/jquery.tablesorter.theme.bootstrap.2.31.3.min.css">
    <script>
        $(document).ready(function(){
            $(".tablesorter").tablesorter({
                ignoreCase: true,
                sortInitialOrder: 'desc',
                theme: 'bootstrap',
                headerTemplate: '{l}content{r} {l}icon{r}',
                widgets: ['uitheme']
            });
        });
    </script>
{/block}

<table class="table table-striped table-bordered tablesorter">
    <thead>
    <tr>
        <th>{_products.admin.products.stats.product}</th>
        <th>{_products.admin.products.stats.today}</th>
        <th>{_products.admin.products.stats.yesterday}</th>
        <th>{_products.admin.products.stats.seven_days}</th>
        <th>{_products.admin.products.stats.this_month}</th>
        <th>{_products.admin.products.stats.last_month}</th>
        <th>{_products.admin.products.stats.all_stats}</th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$productStats as $product">
        <td><a href="{plink :Products:ProductsAdmin:show $product['id']}">{$product['name']}</a></td>
        <td align="right">{isset($product['stats']['today']) ? $product['stats']['today'] : 0}</td>
        <td align="right">{isset($product['stats']['yesterday']) ? $product['stats']['yesterday'] : 0}</td>
        <td align="right">{isset($product['stats']['last_7days']) ? $product['stats']['last_7days'] : 0}</td>
        <td align="right">{isset($product['stats']['current_month']) ? $product['stats']['current_month'] : 0}</td>
        <td align="right">{isset($product['stats']['last_month']) ? $product['stats']['last_month'] : 0}</td>
        <td align="right">{isset($product['stats']['all']) ? $product['stats']['all'] : 0}</td>
    </tr>
    </tbody>
</table>
