<li class="list-group-item"><b>{_products.admin.component.avg_product_payment_widget.avg_product_payment}:</b> {$avgProductPayments|price}
  {if $updatedAt}
    <span class="text-muted">({$updatedAt|userDate})</span>
  {/if}
</li>
