{block #title}{_products.admin.orders.default.header}{/block}

{block #content}

<div class="row">

    <div class="col-md-12">
        <h1>
            {_products.admin.orders.default.header}
            <small>
                / {_products.admin.orders.default.totalCount} {$totalCount}
                {if $totalCount != $filteredCount}
                    {_products.admin.orders.default.filteredCount} {$filteredCount}
                {/if}
            </small>
        </h1>
    </div>

    <div class="col-md-12">
        <hr>
        {control adminFilterForm}
        <hr>
    </div>

    <div class="col-md-12">
        {if $filteredCount > 0}
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>#ID</th>
                    <th>{_products.admin.orders.default.fields.variable_symbol}</th>
                    <th>{_products.admin.orders.default.fields.products}</th>
                    <th>{_products.admin.orders.default.fields.sum}</th>
                    <th>{_products.admin.orders.default.fields.email}</th>
                    <th>{_products.admin.orders.default.fields.order_state} / {_products.admin.orders.default.fields.payments}</th>
                    <th>{_products.admin.orders.default.fields.created_at}</th>
                    <th>{_products.admin.orders.default.fields.actions}</th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$orders as $order">
                    <td>{$order->id}</td>
                    <td>{$order->payment->variable_symbol}</td>
                    <td>
                        <div class="list-group">
                            {var $productItems = $order->payment->related('payment_items')->where('type = ?', \Crm\ProductsModule\PaymentItem\ProductPaymentItem::TYPE)}
                            <a n:foreach="$productItems as $productItem" class="list-group-item" href="{plink :Products:ProductsAdmin:Show $productItem->product_id}">
                                {$productItem->name}
                                <small>({$productItem->count}&nbsp;x&nbsp;{$productItem->amount|price})</small>
                            </a>

                            {var $postalFeeItems = $order->payment->related('payment_items')->where('type = ?', \Crm\ProductsModule\PaymentItem\PostalFeePaymentItem::TYPE)}
                            <div n:foreach="$postalFeeItems as $postalFeeItem" class="list-group-item">
                                {$postalFeeItem->name}
                                <small>({$postalFeeItem->count}&nbsp;x&nbsp;{$postalFeeItem->amount|price})</small>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">{$order->payment->amount|price}</td>
                    <td><a n:href=":Users:UsersAdmin:show $order->payment->user_id">{$order->payment->user->public_name}</a></td>
                    <td>
                        {var $btn_class = 'btn-default'}
                        {if $order->payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_PAID || $order->payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_IMPORTED}
                            {var $btn_class = 'btn-success'}
                        {elseif $order->payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_FORM}
                            {var $btn_class = 'btn-info'}
                        {elseif $order->payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_FAIL || $order->payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_TIMEOUT}
                            {var $btn_class = 'btn-danger'}
                        {/if}
                        <button class="btn {$btn_class} btn-sm" type="button">
                            {$order->status}
                        </button>
                        /
                        <button class="btn {$btn_class} btn-sm" type="button">
                            {$order->payment->status}
                        </button>
                    </td>
                    <td>{$order->created_at}</td>
                    <td><a n:href="show $order->id" class="btn btn-sm btn-info" title="Zobraz"><i class="fa fa-eye"></i> </a></td>
                </tr>
                </tbody>
            </table>
        {control vp}
        {else}
            {_products.admin.orders.default.empty}
        {/if}
    </div>

</div>
