services:
	moduleManager:
		setup:
			- addModule(Crm\ProductsModule\ProductsModule())

	countryPostalFeesRepository: Crm\ProductsModule\Repositories\CountryPostalFeesRepository
	distributionCentersRepository: Crm\ProductsModule\Repositories\DistributionCentersRepository
	ordersRepository: Crm\ProductsModule\Repositories\OrdersRepository
	postalFeesRepository: Crm\ProductsModule\Repositories\PostalFeesRepository
	productBundlesRepository: Crm\ProductsModule\Repositories\ProductBundlesRepository
	productPropertiesRepository: Crm\ProductsModule\Repositories\ProductPropertiesRepository
	productsRepository: Crm\ProductsModule\Repositories\ProductsRepository
	productTemplatesRepository: Crm\ProductsModule\Repositories\ProductTemplatesRepository
	productTemplatePropertiesRepository: Crm\ProductsModule\Repositories\ProductTemplatePropertiesRepository
	productTagsRepository: Crm\ProductsModule\Repositories\ProductTagsRepository
	tagsRepository: Crm\ProductsModule\Repositories\TagsRepository
	postalFeeConditionsRepository: Crm\ProductsModule\Repositories\CountryPostalFeeConditionsRepository

	- Crm\ProductsModule\Models\Builder\ProductBuilder

	- Crm\ProductsModule\Commands\CalculateAveragesCommand

	- Crm\ProductsModule\Components\ProductItemsListWidget\ProductItemsListWidget
	- Crm\ProductsModule\Components\ProductStats\ProductStatsFactory
	- Crm\ProductsModule\Components\TotalShopPaymentsWidget\TotalShopPaymentsWidget
	- Crm\ProductsModule\Components\AvgProductsPaymentWidget\AvgProductsPaymentWidget
	- Crm\ProductsModule\Components\UserOrdersWidget\UserOrdersWidget
	- Crm\ProductsModule\Components\FreeShippingProgressBarWidget\FreeShippingProgressBarWidget
	- Crm\ProductsModule\Components\RecommendedProductsWidget\RecommendedProductsWidget

	- Crm\ProductsModule\DataProviders\PaymentFormDataProvider
	- Crm\ProductsModule\DataProviders\PaymentsAdminFilterFormDataProvider
	- Crm\ProductsModule\DataProviders\PaymentItemTypesFilterDataProvider

	- Crm\ProductsModule\Models\Distribution\AmountSpentDistribution
	- Crm\ProductsModule\Models\Distribution\PaymentCountsDistribution
	- Crm\ProductsModule\Models\Distribution\ProductShopCountsDistribution
	- Crm\ProductsModule\Models\Distribution\ProductDaysFromLastOrderDistribution

	productManager: Crm\ProductsModule\Models\Manager\ProductManager

	ebookProvider:
		factory: Crm\ProductsModule\DataProviders\EbookProvider

	- Crm\ProductsModule\Events\OrderStatusChangeEventHandler
	- Crm\ProductsModule\Events\PaymentStatusChangeHandler

	checkoutFormFactory:
		factory: Crm\ProductsModule\Forms\CheckoutFormFactory
	productsFormFactory:
		factory: Crm\ProductsModule\Forms\ProductsFormFactory
	- Crm\ProductsModule\Forms\TagsFormFactory
	- Crm\ProductsModule\Forms\CountryPostalFeesFormFactory
	- Crm\ProductsModule\Forms\SortShopProductsFormFactory

	- Crm\ProductsModule\Models\PaymentItem\PaymentItemHelper

	productsCache: Crm\ProductsModule\Models\ProductsCache
	tagsCache: Crm\ProductsModule\Models\TagsCache

	- Crm\ProductsModule\Seeders\AddressTypesSeeder
	- Crm\ProductsModule\Seeders\ConfigsSeeder

	- Crm\ProductsModule\Scenarios\OrderScenarioConditionalModel
	- Crm\ProductsModule\Scenarios\HasOrderCriteria
	- Crm\ProductsModule\Scenarios\OrderStatusChangeHandler
	- Crm\ProductsModule\Scenarios\NewOrderHandler
	- Crm\ProductsModule\Scenarios\HasProductWithTemplateNameCriteria
	- Crm\ProductsModule\Scenarios\HasProductWithDistributionCenterCriteria
	- Crm\ProductsModule\Scenarios\ActualOrderStatusCriteria
	- Crm\ProductsModule\Scenarios\OrderStatusOnScenarioEnterCriteria

	- Crm\ProductsModule\DataProviders\OrdersUserDataProvider

	paymentCompleteRedirect:
		setup:
			- registerRedirectResolver(Crm\ProductsModule\Models\ShopPaymentCompleteRedirectResolver(), 400)

	productsAdminPresenter:
		factory: Crm\ProductsModule\Presenters\ProductsAdminPresenter

	postalFeeService:
		factory: Crm\ProductsModule\Models\PostalFeeCondition\PostalFeeService
		setup:
			- registerCondition('products_sum', Crm\ProductsModule\Models\PostalFeeCondition\ProductSumCondition())
			- registerCondition('user_segment', Crm\ProductsModule\Models\PostalFeeCondition\UserSegmentCondition())

	productsPreNotificationEventHandler:
		factory: Crm\ProductsModule\Events\PreNotificationEventHandler
		setup:
			- enableForNotificationHermesTypes('order-status-change')
