services:
	moduleManager:
		setup:
			- addModule(Crm\ProductsModule\ProductsModule())

	countryPostalFeesRepository: Crm\ProductsModule\Repository\CountryPostalFeesRepository
	distributionCentersRepository: Crm\ProductsModule\Repository\DistributionCentersRepository
	ordersRepository: Crm\ProductsModule\Repository\OrdersRepository
	postalFeesRepository: Crm\ProductsModule\Repository\PostalFeesRepository
	productBundlesRepository: Crm\ProductsModule\Repository\ProductBundlesRepository
	productPropertiesRepository: Crm\ProductsModule\Repository\ProductPropertiesRepository
	productsRepository: Crm\ProductsModule\Repository\ProductsRepository
	productTemplatesRepository: Crm\ProductsModule\Repository\ProductTemplatesRepository
	productTemplatePropertiesRepository: Crm\ProductsModule\Repository\ProductTemplatePropertiesRepository
	productTagsRepository: Crm\ProductsModule\Repository\ProductTagsRepository
	tagsRepository: Crm\ProductsModule\Repository\TagsRepository

	- Crm\ProductsModule\Builder\ProductBuilder

	- Crm\ProductsModule\Commands\CalculateAveragesCommand

	- Crm\ProductsModule\Components\ProductItemsListWidget
	- Crm\ProductsModule\Components\ProductStatsFactory
	- Crm\ProductsModule\Components\TotalShopPaymentsWidget
	- Crm\ProductsModule\Components\AvgProductsPaymentWidget
	- Crm\ProductsModule\Components\UserOrdersWidget

	- Crm\ProductsModule\DataProvider\PaymentFormDataProvider
	- Crm\ProductsModule\DataProvider\PaymentsAdminFilterFormDataProvider
	- Crm\ProductsModule\DataProvider\PaymentItemTypesFilterDataProvider

	- Crm\ProductsModule\Distribution\AmountSpentDistribution
	- Crm\ProductsModule\Distribution\PaymentCountsDistribution
	- Crm\ProductsModule\Distribution\ProductShopCountsDistribution
	- Crm\ProductsModule\Distribution\ProductDaysFromLastOrderDistribution

	productManager: Crm\ProductsModule\Manager\ProductManager

	ebookProvider:
	    class: Crm\ProductsModule\Ebook\EbookProvider

	- Crm\ProductsModule\Events\OrderStatusChangeEventHandler
	- Crm\ProductsModule\Events\PaymentStatusChangeHandler
	- Crm\ProductsModule\Events\PaymentStatusChangeNotifyHandler

	checkoutFormFactory:
		class: Crm\ProductsModule\Forms\CheckoutFormFactory
	- Crm\ProductsModule\Forms\ProductsFormFactory
	- Crm\ProductsModule\Forms\TagsFormFactory

	- Crm\ProductsModule\PaymentItem\PaymentItemHelper

	productsCache: Crm\ProductsModule\ProductsCache
	tagsCache: Crm\ProductsModule\TagsCache

	- Crm\ProductsModule\Seeders\AddressTypesSeeder
	- Crm\ProductsModule\Seeders\ConfigsSeeder

	- Crm\ProductsModule\Scenarios\OrderScenarioConditionalModel
	- Crm\ProductsModule\Scenarios\HasOrderCriteria
	- Crm\ProductsModule\Scenarios\OrderStatusChangeHandler
	- Crm\ProductsModule\Scenarios\NewOrderHandler
	- Crm\ProductsModule\Scenarios\HasProductWithTemplateNameCriteria
	- Crm\ProductsModule\Scenarios\HasProductWithDistributionCenterCriteria
	- Crm\ProductsModule\Scenarios\OrderStatusCriteria

	- Crm\ProductsModule\User\OrdersUserDataProvider

	paymentCompleteRedirect:
	 	setup:
	 		- registerRedirectResolver(Crm\ProductsModule\Model\ShopPaymentCompleteRedirectResolver(), 400)

	productsAdminPresenter:
	 	class: Crm\ProductsModule\Presenters\ProductsAdminPresenter
