{block #title}{_'products.admin.products.default.header'}{/block}

{block #content}

<div class="row">

  <div class="col-md-12">
    <h1>
      {_'products.admin.products.default.header'}
      <small>
        / {_system.total} {$allProductsCount}
      </small>

      <a n:href="new" class="btn btn-success btn-lg pull-right"><i
                class="fa fa-sliders-h"></i> {_'products.admin.products.default.new'}</a>
    </h1>
    <hr>
    {control adminFilterForm}
    <hr>
  </div>

  <div class="col-md-12">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>{_'products.data.products.fields.name'}</th>
          <th>{_'products.data.products.fields.code'}</th>
          <th>{_'products.data.products.fields.price'}</th>
          <th>{_'products.data.products.fields.bundle'}</th>
          <th>{_'products.data.products.fields.user_label'}</th>
          <th>{_'products.data.products.fields.created_at'}</th>
          <th>{_'system.actions'}</th>
        </tr>
      </thead>
      <tbody>
        {foreach $products as $product}
          <tr>
            <td>
              <a n:href="Show $product->id">{$product->name}</a>
              <span class="label label-info" n:if="$product->shop">shop</span>
            </td>
            <td>
              <code>{$product->code}</code>
              <a href="{plink :Products:Shop:Show $product->id, $product->code}" class="btn btn-xs btn-default" target="_blank"><i class="fa fa-share"></i></a>
            </td>
            <td>{$product->price|price}</td>
            <td>{$product->bundle|yesNo}</td>
            <td>{$product->user_label}</td>
            <td>{$product->created_at|userDate}</td>
            <td style="white-space: nowrap">
              <p class="text-nowrap">
                <a n:href="Show $product->id"
                        class="btn btn-sm btn-info" title="{_'system.show'}"><i class="fa fa-eye"></i> </a>
                <a n:href="Edit $product->id"
                        class="btn btn-sm btn-primary" title="{_'system.edit'}"><i class="fa fa-edit"></i> </a>
                <a n:href="delete! $product->id"
                        class="btn btn-sm btn-danger" title="{_'system.delete'}"><i class="fa fa-trash"></i> </a>
              </p>
            </td>
          </tr>
        {/foreach}
      </tbody>
    </table>

    {control paginator}
  </div>

</div>
